@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.container {
  padding: 64px;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}


.im {
  /*display: block;
  height: auto;*/
  /*max-width: 40%;*/
  height: 400px;
  width: 400px;
  float:right;
}