input{
	margin-bottom: 10px;
}
body{
	background-image: url("../../public/images/loginbackground.jpg");
	background-size: contain;
	background-repeat: no-repeat;	
	background-position-y: bottom;
	height:110vh;
}
.container{
	background-color: #ffffffad;
}