body{
	box-sizing: border-box;
	scroll-behavior: smooth;
}
section{
	padding: 100px 200px;
}
.cards a{
	width: 100%;
	display: flex;
	font-size: 35px;
	justify-content: center;
}
.cards{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: row;
}
.card{
	background-color: white;
	height: 100%;
	flex-direction: column;
    flex-wrap: wrap;
	border-radius: 8px;
  	padding: 16px;
	margin: 15px;
	transition: 0.6s;
}
.column {
  float: left;
  width: 33.3333%;
  display: table-cell;
  padding: 16px;
}
button{
	color: white;
}